* {
  margin : 0;
  padding: 0;

}

body {
  background-color: #000;
  color: #FFA500;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main-contain {
  color: #FFA500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



.header {
  background-color: #FFA500;
  color: #000;
  width: 50%;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.header .img-contain {
  margin-left: 30px;
  width: 100px;
  height: auto;
  border-radius: 20px;
}

.header .container {
  align-self: center;
}


img {
  width: 100%;
 height: auto;
 border-radius: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section .skills {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  background-color: #FFA500;
  color: #000;
   width: 70%;
   height: 30vh;
   align-self: flex-end;
   padding: 10px;
   border-radius: 20px;
}

#skills-id {
  align-self: center;
}

.section .techiworkwith {
  width: inherit;
  border-radius: 20px;
  background-color: #000;
}



.show-projects {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
   width: 100%;
    height: 20vh;
    margin-left: 30px;

}


.show-projects ::webkit-scrollbar {
  width: 10px;
}

#show-project-id {

}

.show-projects .projects-contain {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: inherit;
 height: 30vh;
 overflow: auto;
 overflow-y: hidden;
 white-space: nowrap;

}

.projects-contain .project {
width: 30%;
height: 23vh;
background-color: #FFA500;
margin-left: 13px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
flex: 0 0 auto;
}





.footer {
  margin-top: 100px;
  max-width: 100%;
  height: 100
}

.footer .message {
  border-right: 5px solid #FFA500;
}

.footer .col-6{
  color: #fff;
}
